@import '../../../styles/variables.scss';

.main {
  background-color: #efefef;

  .wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .big-icon {
    width: 40px;
    height: 40px;
  }

  .nav {
    background-color: white;

    .wrapper {
      padding: 30px 10px 20px;
    }

    .nav-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-box {
        display: flex;
        align-items: center;
      }

      .logo-box p {
        font-family: 'Lobster', cursive;
        font-size: 28px;
        margin-left: 10px;

        &::before {
          content: '  ';
          display: inline-block;
          width: 1px;
          height: 20px;
          background-color: #333;
          margin-right: 10px;
        }
      }

      .input-box {
        position: relative;

        i {
          position: absolute;
          opacity: 0.2;
          left: 71px;
          top: 6.5px;
        }

        input {
          width: 200px;
          text-align: center;
          padding: 5px;
          border: 1px solid #aaa;
          border-radius: 3px;
        }
      }

      .icon-box i {
        margin-left: 10px;
      }
    }
  }

  .contents-box {
    display: flex;
    padding: 60px 0;

    .feeds {
      flex: 2;
      margin-right: 25px;
    }

    .feeds-box {
      background-color: white;
      border-radius: 8px;

      .feeds-profile {
        .box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;

          .user {
            display: flex;
            align-items: center;

            p {
              font-weight: bold;
            }

            img {
              width: 30px;
              height: 30px;
              margin-right: 10px;
              border-radius: 50%;
            }
          }
        }
      }

      .feeds-img {
        padding-bottom: 100%;
      }

      .feeds-icons {
        .box {
          display: flex;
          justify-content: space-between;
          padding: 20px 15px 10px;
          background-color: white;

          i {
            font-size: 1.4em;
          }

          .left i {
            margin-right: 8px;
          }
        }
      }

      .feeds-likes {
        .box {
          display: flex;
          align-items: center;
          padding: 5px 15px;
        }

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }

      .feeds-list {
        padding: 15px 15px 0;

        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding-right: 5px;
        }

        li i {
          display: inline-block;
          margin-left: 5px;
          cursor: pointer;
        }

        strong {
          font-weight: bold;
          padding-right: 7px;
        }

        .icon-red {
          color: red;
        }
      }

      .feeds-input {
        padding: 5px 15px 25px;
        display: flex;

        input {
          flex: 1;
          border: 0px;
          font-size: 16px;
        }

        button {
          margin-left: 10px;
          color: gray;
          background-color: transparent;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .main-right {
      flex: 1;
      margin-bottom: 15px;

      .right-profile {
        .box {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }

        img {
          margin-right: 12px;
          border-radius: 50%;
        }

        p {
          color: #999;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 400;
        }

        .box strong {
          color: #333;
          font-weight: bold;
        }
      }

      .right-story {
        margin-bottom: 20px;
        padding: 15px 10px 10px;
        border-radius: 4px;
        background-color: white;

        .top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }

        .profile {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
        }

        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }

        p {
          color: gray;
          font-size: 13px;
          line-height: 1.2;
        }

        p strong {
          color: #333;
        }
      }

      .right-suggest {
        margin-bottom: 20px;
        padding: 15px 10px 10px;
        border-radius: 4px;
        background-color: white;

        .top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }

        .profile {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
        }

        p {
          color: gray;
          font-size: 13px;
          line-height: 1.2;
        }

        p strong {
          color: #333;
        }

        .list li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
        }

        .list div {
          display: flex;
          align-items: center;
        }
      }

      .right-subtext,
      .right-cc {
        color: #aaa;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
      }

      .right-subtext {
        margin: 5px 0 15px;
      }
    }
  }
}
