@import '../../../styles/variables.scss';

// main
.main {
  width: 850px;
  margin: 0 auto;
  margin-top: 80px;

  .container {
    display: flex;

    // feeds
    .feeds {
      width: 60%;

      .container {
        flex-direction: column;
        width: 470px;
        margin-bottom: 20px;
        @include borderGray;
        background-color: $white-color;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 56px;
          padding: 15px;
          border-bottom: 1px solid $light-gray-color;

          .profile {
            display: flex;
            align-items: center;
            width: 95%;
          }

          .profile__img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-right: 10px;
          }

          .id {
            margin-bottom: 4px;
            color: $black-color;
            font-size: $font-medium;
            @include textBold;
          }
        }

        .feeds__img {
          width: 100%;
          height: 470px;
        }

        .contents {
          padding: 12px;

          .icons {
            display: flex;
            justify-content: space-between;
            height: 40px;

            .left {
              .heart {
                font-size: $font-large;
                transition: all 100ms ease-in-out;

                &:hover {
                  transform: scale(1.3);
                }
              }

              .comment {
                margin: 0 6px 0 8px;
                font-size: $font-large;
              }

              .plane {
                font-size: $font-large;
              }
            }

            .right {
              .bookmark {
                font-size: $font-large;
              }
            }
          }

          .likes {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .image {
              margin-right: 5px;

              .likes__img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }
            }

            .text {
              .id {
                margin-bottom: 4px;
                color: $black-color;
                font-size: $font-medium;
                @include textBold;
                line-height: 25px;
              }

              .people {
                line-height: 20px;
                @include textBold;
              }
            }
          }

          .texts {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .content {
              display: flex;

              .id {
                margin-bottom: 4px;
                color: $black-color;
                font-size: $font-medium;
                @include textBold;
              }

              .text {
                max-width: 260px;
                margin-left: 5px;
              }
            }

            .more__gray {
              color: $dark-gray-color;
              font-size: $font-small;
            }
          }

          .newReply {
            .texts__reply {
              display: flex;
              justify-content: space-between;
              margin-bottom: 5px;

              .texts__reply__left {
                display: flex;

                .id {
                  margin-bottom: 4px;
                  color: $black-color;
                  font-size: $font-medium;
                  @include textBold;
                }

                .text {
                  max-width: 260px;
                  margin-left: 5px;
                }
              }

              .texts__reply__right {
                .texts__heart {
                  font-size: $font-micro;
                  padding-left: 5px;
                  transition: all 100ms ease-in-out;

                  &:hover {
                    transform: scale(1.3);
                  }
                }

                .texts__remove {
                  font-size: $font-micro;
                  padding-left: 5px;
                }
              }
            }
          }

          .time {
            margin-bottom: 10px;

            .more__gray {
              color: $dark-gray-color;
              font-size: $font-small;
            }

            .time__before {
              font-size: $font-small;
            }
          }
        }

        .reply {
          position: relative;
          border-top: 1px solid $light-gray-color;
          padding: 15px;

          .input {
            width: 90%;
            outline-style: none;
            border: none;
          }

          .textBtnUnactive {
            color: $blue-color;
            font-size: $font-regular;
            @include textBold;
            opacity: 0.3;
          }

          .textBtnActive {
            color: $blue-color;
            font-size: $font-regular;
            @include textBold;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }

    // main-right
    .main-right {
      width: 40%;

      .main-right__container {
        width: 100%;

        .profile {
          display: flex;
          align-items: center;

          .image {
            .right__profile__img {
              width: 56px;
              height: 56px;
              border-radius: 50%;
              margin-right: 15px;
            }
          }

          .id {
            .id {
              margin-bottom: 4px;
              color: $black-color;
              font-size: $font-medium;
              @include textBold;
            }

            .more__gray {
              color: $dark-gray-color;
              font-size: $font-small;
            }
          }
        }

        .story {
          height: 200px;
          margin: 15px 0;
          padding: 15px 15px 0;
          background-color: $white-color;
          @include borderGray;
          overflow: hidden;

          .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .more__gray {
              color: $dark-gray-color;
              font-size: $font-small;
            }

            .right__more {
              font-size: $font-regular;
              @include textBold;
            }
          }

          .profile {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .image {
              display: flex;
              align-items: center;
              margin-right: 10px;

              .right__story__img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
            }

            .story__id {
              .id {
                margin-bottom: 4px;
                color: $black-color;
                font-size: $font-medium;
                @include textBold;
              }

              .more__gray {
                color: $dark-gray-color;
                font-size: $font-small;
              }

              .time__before {
                font-size: $font-micro;
              }
            }
          }
        }

        .recommendation {
          padding: 15px 15px 0;
          background-color: $white-color;
          @include borderGray;

          .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .more__gray {
              color: $dark-gray-color;
              font-size: $font-small;
            }

            .right__more {
              font-size: $font-regular;
              @include textBold;
            }
          }

          .profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .left {
              display: flex;

              .image {
                margin-right: 10px;

                .img {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                }
              }

              .right__recommendation__id {
                .id {
                  margin-bottom: 4px;
                  color: $black-color;
                  font-size: $font-medium;
                  @include textBold;
                }

                .more__gray {
                  color: $dark-gray-color;
                  font-size: $font-small;
                }
              }
            }

            .right__follow {
              color: $blue-color;
              @include textBold;
            }
          }
        }
      }

      // footer
      .footer {
        color: $gray-color;

        .menu {
          margin: 30px 0;
          font-size: $font-regular;
          padding: 10px 0;

          .menu span {
            display: inline-block;
            padding: 5px 0;
            color: $gray-color;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .copyright {
          font-size: $font-small;
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 980px) {
  .feeds {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-235px);
  }

  .main-right {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .find,
  .findbox {
    display: none;
  }
}
