nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  .navLeft {
    display: flex;
    gap: 20px;

    .instargram {
      width: 40px;
    }

    .logo {
      display: flex;
      font-family: 'Lobster', cursive;
      font-size: 30px;
    }
  }

  .navRight {
    display: flex;
    justify-content: space-between;
    width: 220px;

    .profileImage {
      border-radius: 50%;
    }
  }

  .search {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 400px;
    background-color: #fafafa;
    border: 2px solid lightgray;
    height: 35px;
  }
}
