.nav {
  background-color: white;

  .display-none {
    display: none;
  }

  .wrapper {
    padding: 30px 10px 20px;
  }

  .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-box {
      display: flex;
      align-items: center;
    }

    .logo-box p {
      font-family: 'Lobster', cursive;
      font-size: 28px;
      margin-left: 10px;

      &::before {
        content: '  ';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #333;
        margin-right: 10px;
      }
    }

    .input-box {
      position: relative;

      i {
        position: absolute;
        opacity: 0.2;
        left: 71px;
        top: 6.5px;
      }

      input {
        width: 200px;
        text-align: center;
        padding: 5px;
        border: 1px solid #aaa;
        border-radius: 3px;
      }
    }

    .icon-box i {
      margin-left: 10px;
    }
  }
}
